/*
Project: Archeonek
File: css/style.css
*/

/*  Main  */
a{
    text-decoration: none;
}
body {
 top:0;
background:#FFF;
 color:#000;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}

#wrapper {
 margin:0 auto;
 min-width:760px;
 max-width:900px;
}
#panel {
    box-sizing: content-box;
    min-height: 100%;
    float:left;
    top: 0px;
    left:0px;
    min-height: 100%;
    min-width:250px;
    max-width:300px;
    background:#EEEEEE;
}
#menu {
    margin-left:40px;
    cursor: pointer;
}
#menuhover{
    margin-left:-15px;
}
.aa,.bb,.cc,.dd{
    display:none;
    cursor: pointer;
}
dd{
    margin-left:10px;
}
.col-xs-6 {
    background:#eee;
}
